<section data-bs-version="5.1" class="menu menu1 cid-t5xj6X05NG" once="menu" id="amenu1-0">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="{{ site.base_url }}/">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Campto Limited" style="height: 3rem;" loading="lazy" class="lazyload" data-src="{{ site.base_url }}/assets/images/campto-logo-96x96.png">
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                  <li class="nav-item">
                    <a class="nav-link link text-black text-primary display-7" href="{{ site.base_url }}/">TRANG CHỦ</a>
                </li>
               
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-7" href="{{ site.base_url }}/#templates">BÀI VIẾT</a>
                    </li>
                  
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-primary display-7" href="{{ site.base_url }}/#contact">LIÊN HỆ</a>
                </div>
            </div>
            <div class="icons-menu">
                <a class="iconfont-wrapper" href="#" target="_blank">
                    <span class="p-2 mbr-iconfont socicon-facebook socicon"></span>
                </a>
                <a class="iconfont-wrapper" href="#" target="_blank">
                    <span class="p-2 mbr-iconfont socicon-twitter socicon"></span>
                </a>
                <a class="iconfont-wrapper" href="#" target="_blank">
                    <span class="p-2 mbr-iconfont socicon-instagram socicon"></span>
                </a>
                
            </div>
        </div>
    </nav>
  </section>
  